:root {
	--colour-dune: #1d1a19;
	--colour-dune-darker: hsl(from var(--colour-dune) h s calc(l - 2));

	--colour-moon-mist: #dbd8c7;
	--colour-moon-mist-darker: hsl(from var(--colour-moon-mist) h s calc(l - 7));

	--colour-peppermint: #36e7a9;
	--colour-peppermint-darker: hsl(from var(--colour-peppermint) h s calc(l - 8));

	--colour-honey: #ffc670;
	--colour-honey-darker: hsl(from var(--colour-honey) h s calc(l - 4));

	font-family: Inter, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: light-dark(var(--colour-dune), var(--colour-moon-mist));
	background-color: light-dark(var(--colour-moon-mist), var(--colour-dune));
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	background: hsl(0 0 100% / 0.1);
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}
